{% extends "layout_bsa.html" %}

{% block page_title %}
  Help paying for NHS Costs prototype
{% endblock %}

{% block content %}

<!-- TEST PAGE - CAN DELETE ALL THIS CONTENT -->
<main id="content" role="main">
	<div class="phase-banner">
      <p>
        <strong class="phase-tag">BETA</strong>This is a new service <span>- your <a target="_blank" href="https://www.snapsurveys.com/wh/s.asp?k=151499191810&amp;application=matex-hcp-app&amp;version=0.1.1.31&amp;ref=yH562KPKDYmDS2-7b9akDbyZdOwGJISZmXdBLcEAmis">feedback</a> will help us to improve it.</span>
      </p>
  	</div>
  	<div class="grid-row">
      <div class="column-full">
        <a href="javascript:history.go(-1)" class="link-back">Back</a>
          <span style="float:right; font-size:16px; margin-top: 30px;">
            <a href="https://matex-new.herokuapp.com/common-pages/help" target="_blank" rel="noopener noreferrer">Help</a>
          </span> 
      </div>
    </div>
  	<div class="grid-row">
  		<div class="column-two-thirds">
  			<div class="form">
		  		<form id="appform" role="form" method="post">
		  			<fieldset>
					    <h1 class="heading-large">
          					<span class="heading-secondary">Confirm email address</span>
       						Email sent to sam.smith@nhs.net
      					</h1>
                        
					    <!-- only add a heading for a list if there is more than one list -->

				    	<!-- use additional modifier class to change column widths for multiple groups of questions and answers: -->
				    	<!--   * `cya-questions-short` for short questions -->
				    	<!--   * `cya-questions-long` for long questions -->
				    	<!--   * none for single group of q&a -->
				    	                                                
                        <p>Check your email and click the link to complete the registration.</p>
                        
        				<!-- Do we need a declaration here ?! -->	
                <br />
					</fieldset>
				</form>	
			</div>

            <details>
                

  <summary><span class="summary">I didn't recieved an email</span></summary>

  <div class="panel panel-border-narrow">
      
      <p>If you didn't receive an email:</p>
      
      <ul class="list list-bullet">
      <li>check junkmail folder</li>
          
      </ul>
      <input class="button" type="submit" value="Resend email">
  </div>

</details>   
            
            <details>
                

  <summary><span class="summary">Change the email address</span></summary>

  <div class="panel panel-border-narrow">
      
      <label class="form-label" for="full-name-f1">Email address</label>
<input class="form-control" id="full-name-f1" type="text" value="sam.smith@nhs.net">
      <br><br>
            <input class="button" type="submit" value="Save">
  </div>

</details>   

            
            <br><br><br>
            <div style="background-color:#dee0e2; padding:20px 40px;">
          <h3 class="heading-small">PROTOTYPE ONLY</h3>
          <a href="done">Pretend email link</a>
                <br><br>
        </div>
 		</div>
	</div>
   <style>
    .link-right {
      margin-right:15px;
    }
  </style>
</main>

{% endblock %}


