{% extends "layout_bsa.html" %}

{% block page_title %}
  Help paying for NHS Costs prototype
{% endblock %}

{% block content %}

<!-- TEST PAGE - CAN DELETE ALL THIS CONTENT -->
<main id="content" role="main">

  <div class="grid-row">
  <div class="column-two-thirds">

        <h1 class="heading-xlarge">
          <span class="heading-secondary">Apply for a maternity exemption</span>
          Prototype
        </h1>

  <h2 class="heading-medium">Create an account</h2>

 Content goes here

 </div>

</div>

</main>

{% endblock %}


