{% extends "layout_bsa.html" %}
 
{% block page_title %}
  NHSBSA Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

    <div class="phase-banner">
      <p>
      <strong class="phase-tag">BETA</strong>
      This is a new service 
      <span> - your <a target="" href="#">feedback</a> will help us to improve it.</span>
      </p> 
    </div>

    <div class="grid-row">
      <div class="column-two-thirds">

        <div class="done-panel">
          <h1 class="heading-xlarge"><span id="done-tick"></span>Done</h1>
          <h2 class="heading-large"><span class="heading-secondary" style="color:white">You have successfully registered your account</span></h2>
        </div>

        <h2 class="heading-medium">What happens next</h2>
        <p>If you've finished using the service you can close the window.</p>

        <p>To submit a maternity exemption application use your username and password to sign in</p>

        <p>
          <a class="button" href="/start-v2" role="button">Continue to sign in</a>
        </p>

        <h3 class="heading-small">Before you go</h3>
        <p>Help us to improve the service by <a href="feedback" target="blank">answering some questions (link opens in a new window)</a> about it.</p>

      </div>
    </div>

  </main>

{% endblock %}
