{% extends "layout_bsa.html" %}
 
{% block page_title %}
  NHSBSA Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

    <div class="phase-banner">
      <p>
      <strong class="phase-tag">BETA</strong>
      This is a new service 
      <span> - your <a target="" href="#">feedback</a> will help us to improve it.</span>
      </p> 
    </div>

    <div class="grid-row">
      <div class="column-two-thirds">

        <div class="done-panel">
          <h1 class="heading-xlarge"><span id="done-tick"></span>Sent</h1>
          <h2 class="heading-large"><span class="heading-secondary" style="color: white;">We'll process your information within 5 working days</span></h2>
        </div>

        <h2 class="heading-medium">What happens next</h2>
        <p>You will receive an email with a link to access your account once it has been created. This will allow you to apply for maternity exemption certificates on behalf of new and expectant mothers.</p>

        <p>If you've finished using the service you can close the window.</p>

       <!--  <p>
          <a class="button" href="/" role="button">Continue to sign in</a>
        </p> -->

        <h3 class="heading-small">Before you go</h3>
        <p>Help us to improve the service by <a href="feedback" target="blank">answering some questions (link opens in a new window)</a> about it.</p>

      </div>
    </div>

<!-- UX NOTES -->

<!-- Spoke to Andreea Vlad and she said that we could include an image of what the email looks like on the done page. But we should do some user testing to see if it's needed. -->

<!-- Figure out how we determine if it's an NHS mail or alternative -->



  </main>

{% endblock %}
