{% extends "layout_bsa.html" %}

{% block page_title %}
  NHSBSA Prototype
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}
<!-- v4 -->
<main id="content" role="main">
  <div class="phase-banner">
    <p>
      <strong class="phase-tag">BETA</strong>
      This is a new service<span> - your <a target="" href="#">feedback</a> will help us to improve it.</span>
    </p> 
  </div>
 <div class="grid-row">
      <div class="column-full">
        <a href="javascript:history.go(-1)" class="link-back">Back</a> 
      </div>
  </div>
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">
        <span class="heading-secondary">Apply for a maternity exemption certificate</span>
       Help for healthcare professionals
      </h1>
      <p>Contact us for help with:
        <ul class="list list-bullet">
          <li>problems signing in</li>
          <li>changing a mother's details</li>
        </ul>
      </p>
      <p>You can contact us for help if mothers have lost their digital certificates, or have had their digital certificates refused as evidence for:
         <ul class="list list-bullet">
          <li>NHS dental treatment</li>
          <li>NHS prescriptions</li>
        </ul>
      </p>
      <p>
        You can contact us by email: <a href="mailto:nhsbsa.healthcosts@nhs.net">nhsbsa.healthcosts@nhs.net</a>
      </p>
      <!-- <p>
        Telephone: 0300 330 1341
        <br>8am to 6pm Monday to Friday, 9am to 3pm on Saturday.
      </p>  --> 
    </div>  
  </div>
</main>

{% endblock %}
