{% extends "layout_bsa.html" %}

{% block page_title %}
  NHSBSA Prototype
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}
<!-- v4 -->
<!-- Register is a secondary acton, should it be below the fold, what do we do with it? -->
<main id="content" role="main">
  <div class="phase-banner">
    <p>
      <strong class="phase-tag">BETA</strong>
      This is a new service<span>&nbsp;- your <a target="" href="#">feedback</a> will help us to improve it.</span>
    </p> 
  </div>
  <div class="grid-row">
      <div class="column-full">
        <span style="float:right; font-size:16px; margin-top: 30px;">
            <a href="help" rel="noopener noreferrer">Help</a>
      </span> 
      </div>
  </div>
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large" style="margin-bottom: 30px; margin-top: 20px;">
        Sorry, there is a problem with the service
      </h1>
      <p>It is not your fault. Our system is having technical difficulties.</p>
      <p>If you want to try again, <a href="/">return to the start</a>.</p>
      <p>If the problem continues email: <a href="#">nhsbsa.healthcosts@nhs.net</a>.</p>
    </div>  
    <!--  <div class="column-third">
      <aside class="govuk-related-items" role="complementary">
        <h3 class="heading-medium" id="subsection-title">Register to use this service</h3>
        <nav role="navigation" aria-labelledby="subsection-title">
          <p>If you have an NMC or GMC number you can <a href="https://matex-new.herokuapp.com/common-pages/register-account">register here</a>.</p> 
        </nav>
      </aside>
    </div> -->
  </div>
</main>

{% endblock %}
