{% extends "layout_bsa.html" %}

{% block page_title %}
  NHSBSA Prototype
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}
<!-- v4 -->
<main id="content" role="main">
  <div class="phase-banner">
    <p>
      <strong class="phase-tag">BETA</strong>
      This is a new service<span> - your <a target="" href="#">feedback</a> will help us to improve it.</span>
    </p> 
  </div>
  <div class="grid-row">
      <div class="column-full">
        <span style="float:right; font-size:16px; margin-top: 30px;">
            <a href="help" rel="noopener noreferrer">Help</a>
      </span> 
      </div>
  </div>
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge" style="margin-bottom:30px; margin-top: 20px;">
         <!--  <span class="heading-secondary">Health care professional</span> -->
        Apply for a maternity exemption certificate
      </h1>
      <p>If you are a healthcare professional, you can apply for a maternity exemption for new and expectant mothers.</p>
      <p>A maternity exemption entitles the mother to free prescriptions:</p>
      <ul class="list list-bullet">
        <li>while she is pregnant</li>
        <li>for 12 months after the birth of her child</li>
      </ul>
      <p>If you are a healthcare professional, you can apply for a maternity exemption for new and expectant mothers.</p>
      <ul class="list list-bullet">
        <li>mother’s date of birth</li>
        <li>mother’s NHS number</li>
        <li>due or birth date of the child</li>
        <li>email or postal address</li>
      </ul> 
      <div class="form-group">
        <a class="button  button-start" href="app-pages/apply-page" role="button">Start</a>
      </div>
    </div> 
  </div>
</main>

{% endblock %}
