{% extends "layout_bsa.html" %}

{% block page_title %}
  Help paying for NHS Costs prototype
{% endblock %}

{% block content %}

<!-- TEST PAGE - CAN DELETE ALL THIS CONTENT -->
<main id="content" role="main">
	<div class="phase-banner">
      <p>
        <strong class="phase-tag">BETA</strong>This is a new service <span>- your <a target="_blank" href="https://www.snapsurveys.com/wh/s.asp?k=151499191810&amp;application=matex-hcp-app&amp;version=0.1.1.31&amp;ref=yH562KPKDYmDS2-7b9akDbyZdOwGJISZmXdBLcEAmis">feedback</a> will help us to improve it.</span>
      </p>
  	</div>
  	<div class="grid-row">
	    <div class="column-full">
	    	<a href="javascript:history.go(-1)" class="link-back">Back</a>
	      	<span style="float:right; font-size:16px; margin-top: 30px;">
	      		<a href="https://matex-new.herokuapp.com/common-pages/help" target="_blank" rel="noopener noreferrer">Help</a>
			</span> 
	    </div>
	</div>
  	<div class="grid-row">
  		<div class="column-two-thirds">
  			<h1 class="heading-large">
					    	<span class="heading-secondary">Register to use this service</span>
					    	This service requires an NHS email
					    </h1>
             <p class="lede">To get one you'll need to get in touch with your local IT department or administrator</p>
            <h2 class="heading-medium">Once you have an NHS email</h2>
            <p>Email <a href="mailto:nhsbsa.healthcosts@nhs.net">nhsbsa.healthcosts@nhs.net</a> to register for a Maternity exemption account.</p>
            <!-- <p>Call 0300 330 1341 to register for Maternity exemption account.</p>-->
            <p>We'll ask for your:</p>
                <ul class="list-bullet">
                    <li>Name</li>
                    <li>NMC/GMC number</li>
                    <li>Email address</li>
                    <li>UK telephone number</li>
                    <li>Primary Care organisation</li>
                </ul>
            <br>
            <div class="panel panel-border-wide">
  <p>
    This should take about 5 minutes.
  </p>
</div>
            
 		</div>
	</div>


	
</main>

{% endblock %}


