{% extends "layout_bsa.html" %}

{% block page_title %}
  Help paying for NHS Costs prototype
{% endblock %}

{% block content %}

<!-- TEST PAGE - CAN DELETE ALL THIS CONTENT -->
<main id="content" role="main">
	<div class="phase-banner">
      <p>
        <strong class="phase-tag">BETA</strong>This is a new service <span>- your <a target="_blank" href="https://www.snapsurveys.com/wh/s.asp?k=151499191810&amp;application=matex-hcp-app&amp;version=0.1.1.31&amp;ref=yH562KPKDYmDS2-7b9akDbyZdOwGJISZmXdBLcEAmis">feedback</a> will help us to improve it.</span>
      </p>
  	</div>
  	<div class="grid-row">
	    <div class="column-full">
	    	<a href="javascript:history.go(-1)" class="link-back">Back</a>
	      	<span style="float:right; font-size:16px; margin-top: 30px;">
	      		<a href="https://matex-new.herokuapp.com/common-pages/help" target="_blank" rel="noopener noreferrer">Help</a>
			</span> 
	    </div>
	</div>
	<div class="grid-row">
		<div class="column-two-thirds">
			<h1 class="heading-large">
	    	<!-- <span class="heading-secondary">Register to use this service</span> -->
	    	Register for a Maternity exemption account
	    </h1>
      <p class="lede">You must have an NHSmail account, if you don't you'll need to get in touch with your local IT department or administrator.</p>
      <h2 class="heading-medium">Once you have an NHSmail account</h2>
      <p>Email <a href="nhsbsa.healthcosts@nhs.net">nhsbsa.healthcosts@nhs.net</a> to register to use the Apply for a maternity exemption service.</p>
      <p>We'll ask for your:</p>
      <ul class="list-bullet">
        <li>Name</li>
        <li>NMC/GMC number</li>
        <li>NHSmail address</li>
        <li>UK telephone number</li>
        <li>Primary Care organisation</li>
      </ul>
      <br>
      <div class="panel panel-border-wide">
        <p>
          This should take about 5 minutes.
        </p>
      </div>
      <br>
      <details class="details-login" role="group">
        <summary role="button" aria-controls="details-content-0" aria-expanded="false"><span class="summary">I'm already registered with this service</span></summary>
        <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="true">
          <p>Use your NHSmail account details to sign in to the Apply for a maternity exemption service.</p>
          <p><a href="sign-in-auth">Sign in</a></p>
        </div>
      </details>
    </div>
  </div>
</main>

{% endblock %}


