{% extends "layout_bsa.html" %}

{% block page_title %}
  Help paying for NHS Costs prototype
{% endblock %}

{% block content %}

<!-- TEST PAGE - CAN DELETE ALL THIS CONTENT -->
<main id="content" role="main">
	<div class="phase-banner">
      <p>
        <strong class="phase-tag">BETA</strong>This is a new service <span>- your <a target="_blank" href="https://www.snapsurveys.com/wh/s.asp?k=151499191810&amp;application=matex-hcp-app&amp;version=0.1.1.31&amp;ref=yH562KPKDYmDS2-7b9akDbyZdOwGJISZmXdBLcEAmis">feedback</a> will help us to improve it.</span>
      </p>
  	</div>
  	<div class="grid-row">
	    <div class="column-full">
	    	<a href="javascript:history.go(-1)" class="link-back">Back</a>
	      	<span style="float:right; font-size:16px; margin-top: 30px;">
	      		<a href="https://matex-new.herokuapp.com/common-pages/help" target="_blank" rel="noopener noreferrer">Help</a>
			</span> 
	    </div>
	</div>
  	<div class="grid-row">
  		<div class="column-two-thirds">
  			<h1 class="heading-xlarge">
          <span class="heading-secondary">Health care professional</span>
        Maternity exemption account: Register
      </h1>
      <p>Use this service to apply for maternity exemption certificates on behalf of new or expectant mothers.</p>
      <p>To register for this service you must be:</p>
        <ul class="list list-bullet">
          <li>a Midwife, GP or Health Visitor</li>
          <li>registered with the Nursing and Midwifery Council (NMC) or the General Medical Council (GMC) to create an account</li>
        </ul>
            <h2 class="heading-medium">Call 0300 330 1341 to register</h2>
            
            <details class="details-login" role="group">
        <summary role="button" aria-controls="details-content-0" aria-expanded="false"><span class="summary">What we'll ask for</span></summary>
                <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="true">
                <ul class="list-bullet">
                    <li>Name</li>
                    <li>NMC/GMC number</li>
                    <li>NHS email address</li>
                    <li>UK telephone number</li>
                    <li>Primary Care organisation</li>
                </ul>
                </div>
            </details>
            <br>
            <div class="panel panel-border-wide">
  <p>
    This should take about 5 minutes.
  </p>
</div>
            
            <details class="details-login" role="group">
        <summary role="button" aria-controls="details-content-0" aria-expanded="false"><span class="summary">I'm a new or expectant mother</span></summary>
        <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="true">
          <p>To get a maternity exemption certificate contact your midwife, doctor or health visitor.</p>
          <p><a href="https://www.nhsbsa.nhs.uk/exemption-certificates/maternity-exemption-certificates">Find out what you're entitled to</a>.</p>
        </div>
      </details>
       <details class="details-login" role="group">
        <summary role="button" aria-controls="details-content-0" aria-expanded="false"><span class="summary">I’m an administrator working within a Hospital or GP practice</span></summary>
        <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="true">
          <p>At the moment this service is only available to Midwives, GP’s and Health Visitors.</p>
          <p><a href="https://www.nhsbsa.nhs.uk/exemption-certificates/maternity-exemption-certificates">Visit our website to find out more</a>.</p>
        </div>
      </details>
            
 		</div>
	</div>


	
</main>

{% endblock %}


