{% extends "layout_bsa.html" %}

{% block page_title %}
  Help paying for NHS Costs prototype
{% endblock %}

{% block content %}

<!-- TEST PAGE - CAN DELETE ALL THIS CONTENT -->
<main id="content" role="main">
	<div class="phase-banner">
      <p>
        <strong class="phase-tag">BETA</strong>This is a new service <span>- your <a target="_blank" href="https://www.snapsurveys.com/wh/s.asp?k=151499191810&amp;application=matex-hcp-app&amp;version=0.1.1.31&amp;ref=yH562KPKDYmDS2-7b9akDbyZdOwGJISZmXdBLcEAmis">feedback</a> will help us to improve it.</span>
      </p>
  	</div>
  	<div class="grid-row">
	    <div class="column-full">
	    	<a href="javascript:history.go(-1)" class="link-back">Back</a>
	      	<span style="float:right; font-size:16px; margin-top: 30px;">
	      		<a href="https://services.nhsbsa.nhs.uk/matex-hcp-app/help" target="_blank" rel="noopener noreferrer">Help</a>
			</span> 
	    </div>
	</div>
  	<div class="grid-row">
  		<div class="column-two-thirds">
  			<div class="form">
		  		<form id="appform" role="form" method="post">
		  			<fieldset>
					    <h1 class="heading-large">
					    	<span class="heading-secondary">Register to use this service</span>
					    	About you
					    </h1>
					    <!-- <h2 class="heading-medium">Your details</h2> -->
					    <div class="form-group">
					    	<label class="form-label" for="first-name" id="first-name-label">First name</label>
					    	<input id="first-name" class="form-control" type="text" max-length="30" autocomplete="off" aria-required="false">
					    </div>
					     <div class="form-group">
					    	<label class="form-label" for="last-name" id="last-name-label">Last name</label>
					    	<input id="last-name" class="form-control" type="text" max-length="30" autocomplete="off" aria-required="false">
					    </div>
						<div class="form-group">
					    	<label class="form-label" for="ident-number" id="ident-number-label">NMC or GMC number</label>
					    	<input id="ident-number" class="form-control" max-length="30" autocomplete="off" aria-required="false">
					    </div>
					    <div class="form-group">
					    	<label class="form-label" for="email-ad" id="email-ad-label">Email address</label>
					    	<span class="form-hint">
					    		Use your NHS email if you have one.
					    		<br />
					    		We'll use this to create your account.
					    	</span>
					    	<input id="email-ad" class="form-control" type="text" max-length="30" autocomplete="off" aria-required="false">
					    </div>
					    <div class="panel panel-border-wide">
					    	<p><span class="form-hint">A confirmation email will be sent to:</span>
						    	<span id="email-live" class="bold-small">joebloggs@hotmail.com</span>

					    	</p>
					    </div>	
					    <div class="form-group">
					    	<label class="form-label" for="Telephone" id="first-name-label">UK telephone number</label>
					    	<input id="Telephone" class="form-control" type="tel" max-length="30" autocomplete="off" aria-required="false">
					    </div>
			    		<div class="form-group">
					    	<label class="form-label" for="care" id="care-label">Primary Care organisation</label>
					    	<input id="care" class="form-control" type="text" max-length="30" autocomplete="off" aria-required="false">
					    </div>	
            		</fieldset>
				</form>	
				<div class="form-group">
          			<a class="button" href="cya-account-v2" id="next">Continue</a>
        		</div>    
			</div>
 		</div>
	</div>
</main>

{% endblock %}


