{% extends "layout_bsa.html" %}

{% block page_title %}
  NHSBSA Prototype
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}
<!-- v4 -->
<main id="content" role="main">
  <div class="phase-banner">
    <p>
      <strong class="phase-tag">BETA</strong>
      This is a new service<span> - your <a target="" href="#">feedback</a> will help us to improve it.</span>
    </p> 
  </div>
  <div class="grid-row">
      <div class="column-full">
        <span style="float:right; font-size:16px; margin-top: 30px;">
            <a href="help" rel="noopener noreferrer">Help</a>
      </span> 
      </div>
  </div>
  <div class="grid-row">
    <div class="column-two-thirds">
        <div class="search-wrapper">
            <!-- Input with spy glass -->
            <div class="color-spacing currency-input form-group">
                <div class="currency-input-inner">
                    <label for="keywords" class="label-color form-label">Cartoon characters</label>
                    <span id="count"></span>
                    <!-- <span class="symbol">&#x1F50D;</span> -->
                    <span class="glass symbol">&#9906;</span>
                    <input class="search-control currency-amount form-control" autocomplete="off" id="keywords" name="keywords" type="search" onkeyup="searchProjects()">
                </div>
            </div>
            <!-- /. -->

            <!-- List of results -->
            <ul id="service-list" class="frame scroll-box">
                <li>
                    <div class="multiple-choice multiple-radio">
                        <input id="list1" name="list1" class="list-input" type="checkbox" value="true" onclick="updateCount()">
                        <label class="check-label" for="list1">Bart Simpson</label>
                    </div>            
                </li>
                <li>
                    <div class="multiple-choice multiple-radio">
                        <input id="list2" name="list2" class="list-input" type="checkbox" value="true" onclick="updateCount()">
                        <label class="check-label" for="list2">Donald Duck</label>
                    </div>          
                </li>
                <li>
                    <div class="multiple-choice multiple-radio">
                        <input id="list3" name="list3" class="list-input" type="checkbox" value="true" onclick="updateCount()">
                        <label class="check-label" for="list3">Fry</label>
                    </div>            
                </li>
                <li>
                    <div class="multiple-choice multiple-radio">
                        <input id="list4" class="list-input" name="list4" type="checkbox" value="true" onclick="updateCount()">
                        <label class="check-label" for="list4">Some others</label>
                    </div>            
                </li>
                <li>
                        <div class="multiple-choice multiple-radio">
                            <input id="list5" class="list-input" name="list5" type="checkbox" value="true" onclick="updateCount()">
                            <label class="check-label" for="list5">wwwwwwwwwww</label>
                        </div>            
                    </li>
                    <li>
                        <div class="multiple-choice multiple-radio">
                            <input id="list6" class="list-input" name="list6" type="checkbox" value="true" onclick="updateCount()">
                            <label class="check-label" for="list6">xxxxxxxxxxx</label>
                        </div>          
                    </li>
                    <li>
                        <div class="multiple-choice multiple-radio">
                            <input id="list7" class="list-input" name="list7" type="checkbox" value="true" onclick="updateCount()">
                            <label class="check-label" for="list7">yyyyyyyy</label>
                        </div>            
                    </li>
                    <li>
                        <div class="multiple-choice multiple-radio">
                            <input id="list8" class="list-input" name="list8" type="checkbox" value="true" onclick="updateCount()">
                            <label class="check-label" for="list8">zzzzz</label>
                        </div>            
                    </li>
            </ul>
            <!-- /. -->
        </div>
    </div>
</main>

<style>
    /* wrapper style */
    ul#service-list {
        background-color: white;
    }

    .search-wrapper {
        padding: 0px 5px 5px 5px;
        background-color: #DEE0E2;
    }

    .label-color {
        background-color: #DEE0E2;
    }

    .color-spacing {
        padding:10px;
    }

    .multiple-choice {
        background-color: #fff;
    }

    /* scroll box */
    ul.scroll-box  {
        height:160px;
        width:100%;
        overflow:hidden;
        overflow: scroll;
        margin-top:-20px;
    }

    .search-control {
        width: 92%;
    }

    @media only screen and (max-width:767px) {
        ul.scroll-box  {
            height:100px;
            width:100%;
            margin-top:-10px;
        }

        .search-control {
            width: 88%;
        }
    }
    
    .frame::-webkit-scrollbar {
        -webkit-appearance: none;
    }

    .frame::-webkit-scrollbar:vertical {
        width: 11px;
    }

    .frame::-webkit-scrollbar:horizontal {
        height: 11px;
    }

    .frame::-webkit-scrollbar-thumb {
        border-radius: 8px;
        border: 2px solid white; /* should match background, can't be transparent */
        background-color: rgba(0, 0, 0, .5);
    }

    /* spy glass in the input */
    .glass {
        -webkit-transform: rotate(-45deg); 
        -moz-transform: rotate(-45deg); 
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        font-size:30px;
    }
    .currency-input-inner {
        position: relative;
    }
    
    span.symbol {
        position: absolute;
        bottom: 2px; /* 6px for the other symbol */
        left: 10px;
        font-weight: 800;
        color: #333333;
    }
    
    .currency-amount {
        padding-left: 40px;
    }
    
    .multiple-radio label {
        margin-left: 40px !important;
    }

    @media all and (-ms-high-contrast: none) , ( -ms-high-contrast : active) {
        /* IE10+ CSS styles */
        .currency-amount {
            padding-bottom: 3px; /* 7px for the other symbol */
        }
    }

    .check-label{
        padding-bottom:16px !important; /* on some prototypes the labels are really thin */
    }
</style>
<script>
/* searches list based on input */
function searchProjects() {
    var input, filter, ul, li, a, i, txtValue;
    input = document.getElementById('keywords');
    filter = input.value.toUpperCase();
    ul = document.getElementById("service-list");
    li = ul.getElementsByTagName('li');

    for (i = 0; i < li.length; i++) {
    a = li[i].getElementsByTagName("label")[0];
    txtValue = a.textContent || a.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
        } else {
            li[i].style.display = "none";
        }
    }
}
</script>
<script>
/* Counts checked checkboxes */
window.updateCount = function() {
    var x = $(".list-input:checked").length;
    document.getElementById("count").innerHTML = x + ' selected';
};
</script>

{% endblock %}
