{% extends "layout_bsa.html" %}

{% block page_title %}
  Help paying for NHS Costs prototype
{% endblock %}

{% block content %}

<!-- TEST PAGE - CAN DELETE ALL THIS CONTENT -->
<main id="content" role="main">
	<div class="phase-banner">
      <p>
        <strong class="phase-tag">BETA</strong>This is a new service <span>- your <a target="_blank" href="https://www.snapsurveys.com/wh/s.asp?k=151499191810&amp;application=matex-hcp-app&amp;version=0.1.1.31&amp;ref=yH562KPKDYmDS2-7b9akDbyZdOwGJISZmXdBLcEAmis">feedback</a> will help us to improve it.</span>
      </p>
  	</div>
  	<div class="grid-row">
    	<div class="column-full">
  			<a href="javascript:history.go(-1)" class="link-back">Back</a>
	    </div>
    </div>

  	<div class="grid-row">
  		<div class="column-two-thirds">
  			<div class="form">
		  		<form id="appform" role="form" method="post">
		  			<fieldset>
					    <h1 class="heading-large">
					    	Sign in or register
					    </h1>
					    <div class="form-group">
							<div class="multiple-choice" onclick="showSign(); hideNew();">
					        	<input id="radio-1" type="radio" name="radio-group" value="Isle of Man or the Channel Islands">
					        	<label for="radio-1" style="padding:10px;">Sign in with your matex account
					        		<span class="form-hint">
            							If you are already registered for this service you can sign in to apply for maternity exemption certificates. 
        							</span>
					        	</label>
							</div>
					      	<p class="form-block">or</p>
					      	<div class="multiple-choice" onclick="hideSign(); showNew();">
					        	<input id="radio-2" type="radio" name="radio-group" value="I am a British citizen living abroad">
					        	<label for="radio-2" style="padding:10px;">I don't have an account
					        		<span class="form-hint">
            							You must be a midwife who is registered with NMC/GMC to create an account. 
        							</span>
					        	</label>
					      	</div>
				      	</div>
            		</fieldset>
				</form>	
				<div class="form-group" id="already-registered">
          			<a class="button" href="sign-in-auth" id="next">Continue</a>
        		</div>    
        		<div class="form-group" id="new-account" style="display:none;">
          			<a class="button" href="register-account" id="next">Continue</a>
        		</div>    
			</div>
 		</div>
	</div>

<script>
	function showSign() {
		document.getElementById('already-registered').style.display = "block";
	}

	function hideNew() {
		document.getElementById('new-account').style.display = 'none';
	}

	function hideSign() {
		document.getElementById('already-registered').style.display = 'none';
	}

	function showNew() {
		document.getElementById('new-account').style.display = 'block';
	}
</script>
<style>
	@media (min-width: 641px)
.multiple-choice label {
    float: left;
    padding-top: 7px;
    padding-bottom: 7px;
}
.multiple-choice label {
    cursor: pointer;
    padding: 8px 10px 9px 12px;
    display: block;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}
div, span, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark {
    border: none;
    margin: 0;
    padding: 0;
}
user agent stylesheet
label {
    cursor: default;
}
@media (min-width: 641px)
main {
    font-size: 19px;
    line-height: 1.3157894737;
}
main {
    font-family: Arial, sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 16px;
    line-height: 1.25;
    -webkit-font-smoothing: antialiased;
}
body {
    font-size: 160%;
    margin: 0;
    background: #fff;
    color: #333;
    line-height: 1.5;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
html, body, button, input, table, td, th {
    font-family: Arial, sans-serif;
}
body {
    font-size: 160%;
    margin: 0;
}
body {
    background: white;
    color: #0b0c0c;
    line-height: 1.5;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
html, body, button, input, table, td, th {
    font-family: "nta", Arial, sans-serif;
}
html {
    font-size: 62.5%;
    overflow-y: scroll;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    background-color: #dee0e2;
}
html, body, button, input, table, td, th {
    font-family: Arial, sans-serif;
}
html {
    font-size: 62.5%;
    overflow-y: scroll;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    background-color: #dee0e2;
}
html, body, button, input, table, td, th {
    font-family: "nta", Arial, sans-serif;
}
.multiple-choice [type=radio] + label::before {
    content: "";
    border: 2px solid;
    background: #fff;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 3px;
    left: 5px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.multiple-choice input:checked + label::after {
    zoom: 1;
    filter: alpha(opacity=100);
    opacity: 1;
}
.multiple-choice [type=radio] + label::after {
    content: "";
    border: 7px solid;
    width: 0;
    height: 0;
    position: absolute;
    top: 10px;
    left: 12px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    zoom: 1;
    filter: alpha(opacity=0);
    opacity: 0;
}

	
</style>


</main>

{% endblock %}


