{% extends "layout_bsa.html" %}

{% block page_title %}
  Help paying for NHS Costs prototype
{% endblock %}

{% block content %}

<!-- TEST PAGE - CAN DELETE ALL THIS CONTENT -->
<main id="content" role="main">
	<div class="phase-banner">
      <p>
        <strong class="phase-tag">BETA</strong>This is a new service <span>- your <a target="_blank" href="https://www.snapsurveys.com/wh/s.asp?k=151499191810&amp;application=matex-hcp-app&amp;version=0.1.1.31&amp;ref=yH562KPKDYmDS2-7b9akDbyZdOwGJISZmXdBLcEAmis">feedback</a> will help us to improve it.</span>
      </p>
  	</div>
  	<div class="grid-row">
    	<div class="column-full">
  			<a href="javascript:history.go(-1)" class="link-back">Back</a>
	    </div>
    </div>

  	<div class="grid-row">
  		<div class="column-two-thirds">
  			<div class="form">
		  		<form id="appform" role="form" method="post">
		  			<fieldset>
					    <h1 class="heading-large">
					    	Sign in or register
					    </h1>
					    <div class="form-group">
							<div class="multiple-choice">
					        	<input id="radio-2" type="radio" name="radio-group" value="Isle of Man or the Channel Islands">
					        	<label for="radio-2">Isle of Man or the Channel Islands</label>
							</div>
					      	<p class="form-block">or</p>
					      	<div class="multiple-choice">
					        <input id="radio-3" type="radio" name="radio-group" value="I am a British citizen living abroad">
					        <label for="radio-3">I am a British citizen living abroad</label>
					      </div>
				      </div>
            		</fieldset>
				</form>	
				<div class="form-group">
          			<a class="button" href="cya-account-v2" id="next">Continue</a>
        		</div>    
			</div>
 		</div>
	</div>
</main>

{% endblock %}


