{% extends "layout_bsa.html" %}

{% block page_title %}
  NHSBSA Prototype
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}
<!-- v9 -->
<!-- Register is a secondary acton, should it be below the fold, what do we do with it? -->
<main id="content" role="main">
  <div class="phase-banner">
    <p>
      <strong class="phase-tag">BETA</strong>
      This is a new service<span>&nbsp;- your <a target="" href="#">feedback</a> will help us to improve it.</span>
    </p> 
  </div>
  <div class="grid-row">
      <div class="column-full">
        <span style="float:right; font-size:16px; margin-top: 30px;">
            <a href="help" rel="noopener noreferrer">Help</a>
      </span> 
      </div>
  </div>
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge" style="margin-bottom: 30px; margin-top: 20px;">
        <!--<span class="heading-secondary">Health care professional</span>-->
        Apply for a maternity exemption certificate
      </h1>
      <p>Use this service to apply for maternity exemption certificates on behalf of new or expectant mothers.</p>
      <p>A maternity exemption certificate entitles the mother to free prescriptions:</p>
      <ul class="list list-bullet">
        <li>while pregnant</li>
        <li>for 12 months after the birth of the child</li>
      </ul>
      <br>
      <p>You’ll need the mother’s:</p>
      <ul class="list list-bullet">
        <li>date of birth</li>
        <li>NHS number</li>
        <li>due or birth date of their child</li>
        <li>email or postal address</li>
      </ul> 
      <br>
      <div class="notice form-group">
        <i class="icon icon-important">
         <span class="visually-hidden">Warning</span>
        </i>
        <strong class="bold-small">
          You’ll need to register to use this service.
        </strong>
      </div>
      <div class="form-group">
        <a class="button button-start" href="ms-login" role="button">Start</a>
      </div>
      <details class="details-login" role="group">
        <summary role="button" aria-controls="details-content-0" aria-expanded="false"><span class="summary">I do not have an account</span></summary>
        <div class="panel panel-border-narrow">
          <p>To use this service you must:</p>
          <ul class="list list-bullet">
            <li>be a Midwife, GP or Health Visitor</li>
            <li>be registered with the Nursing and Midwifery Council (NMC) or the General Medical Council (GMC) to create an account</li>
            <li>have an NHSmail email address</li>
          </ul>
          <p><a href="/common-pages/no-nhs-mail">Register to use this service</a></p>
          <p><a href="https://www.nhsbsa.nhs.uk/exemption-certificates/maternity-exemption-certificates">Visit our website for more information</a></p>
        </div> 
      </details>

      <details class="details-login" role="group">
        <summary role="button" aria-controls="details-content-0" aria-expanded="false"><span class="summary">I’m pregnant or have had a baby within the last 12 months</span></summary>
        <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="true">
          <p>To get a maternity exemption certificate contact your midwife, doctor or health visitor.</p>
          <p><a href="https://www.nhsbsa.nhs.uk/exemption-certificates/maternity-exemption-certificates">Find out what you're entitled to</a></p>
        </div>
      </details>
      <!--<details class="details-login" role="group">
        <summary role="button" aria-controls="details-content-0" aria-expanded="false"><span class="summary">I’m an administrator working within a Hospital or GP practice</span></summary>
        <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="true">
          <p>This service is only available to Midwives, GP’s and Health Visitors.</p>
          <p><a href="https://www.nhsbsa.nhs.uk/exemption-certificates/maternity-exemption-certificates">Visit our website for more information</a></p>
        </div>
      </details> -->
    </div>  
   <!--  <div class="column-third">
      <aside class="govuk-related-items" role="complementary">
        <h3 class="heading-medium" id="subsection-title">Register to use this service</h3>
        <nav role="navigation" aria-labelledby="subsection-title">
          <p>If you have an NMC or GMC number you can <a href="https://matex-new.herokuapp.com/common-pages/register-account">register here</a>.</p> 
        </nav>
      </aside>
    </div> -->
    
  </div>
</main>

{% endblock %}


