{% extends "layout_bsa.html" %}

{% block page_title %}
  NHSBSA Prototype
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}
<!-- v2 -->
<main id="content" role="main">
  <div class="phase-banner">
    <p>
      <strong class="phase-tag">BETA</strong>
      This is a new service<span> - your <a target="" href="#">feedback</a> will help us to improve it.</span>
    </p> 
  </div>
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">
        Apply for a maternity exemption
      </h1>
      <p class="lede">This service is for healthcare professionals only.</p>
      <p>Use this service to apply on behalf of new and expectant mothers.</p>
      <div class="panel panel-border-narrow">
        <p class="heading-small">This takes about 5 minutes to complete</p>
      </div>
 
      <p>
        <a class="button button-start" href="https://matex-new.herokuapp.com/common-pages/midwife-login" role="button">Start now</a>
      </p>
      <br>
      
      <details class="details-login" role="group">
        <summary role="button" aria-controls="details-content-0" aria-expanded="false"><span class="summary">I'm a new or expectant mother</span></summary>
        <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="true">
          <p>To get a maternity exemption certificate contact your midwife, doctor or health visitor.</p>
          <p><a href="https://www.nhsbsa.nhs.uk/exemption-certificates/maternity-exemption-certificates">Find out what you're entitled to</a>.</p>

        </div>
      </details>
      
    </div>  
   <!-- <div class="column-third">
      <aside class="govuk-related-items" role="complementary">
        <h2 class="heading-medium" id="subsection-title">More information</h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="font-xsmall">
            <li>
              <a href="https://www.nhsbsa.nhs.uk/exemption-certificates/maternity-exemption-certificates">Help for mothers</a>
            </li>
            <li>
              <a href="https://www.nhsbsa.nhs.uk/exemption-certificates/maternity-exemption-certificates/digital-maternity-exemption-service">Help for healthcare professionals</a>
            </li>
          </ul>
        </nav>
      </aside>
    </div> -->
    
  </div>
</main>

{% endblock %}
