{% extends "layout_bsa.html" %}

{% block page_title %}
  NHSBSA Prototype
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}
<!-- v2 -->
<main id="content" role="main">

    <div class="phase-banner">
      <p>
      <strong class="phase-tag">BETA</strong>
      This is a new service 
      <span> - your <a target="" href="#">feedback</a> will help us to improve it.</span>
      </p> 
    </div>

    <div class="grid-row">
      <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Apply for a maternity exemption
      </h1>

      <p>If you are a healthcare professional, you can apply for a maternity exemption for new and expectant mothers.</p>

      <p>A maternity exemption entitles the mother to free prescriptions:</p>

      <ul class="list list-bullet">
        <li>while she is pregnant</li>
        <li>for 12 months after the birth of her child</li>
      </ul>

      <p>To use this service you must be signed in to an NHS registered account.</p>

      <p>
        <a class="button" href="https://matex-new.herokuapp.com/common-pages/midwife-login" role="button">Sign in</a>
      </p>


      <p>If you don't have an account and you are a healthcare professional you can register an account</p>

      <div class="panel panel-border-narrow">
        <p class="heading-small">Registering takes around 3 minutes.</p>
      </div>

      <p><a class="button" role="button" href="https://matex-new.herokuapp.com/common-pages/auth-start">Register</a></p>
    </div>
    <div class="column-third">

      <aside class="govuk-related-items" role="complementary">
        <h2 class="heading-medium" id="subsection-title">More information</h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="font-xsmall">
            <li><a href="https://www.nhsbsa.nhs.uk/exemption-certificates/maternity-exemption-certificates">Help for mothers</a></li>
            <li><a href="https://www.nhsbsa.nhs.uk/exemption-certificates/maternity-exemption-certificates/digital-maternity-exemption-service">Help for healthcare professionals</a></li>
           <!-- <li><a href="#" class="bold-xsmall">More <span class="visuallyhidden">in Subsection</span></a></li> -->
          </ul>
        </nav>
      </aside>

    </div>
  </div>

</main>

{% endblock %}
