{% extends "layout_bsa.html" %}

{% block page_title %}
  Help paying for NHS Costs prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="phase-banner">
      <p>
        <strong class="phase-tag">BETA</strong>This is a new service <span>- your <a target="_blank" href="https://www.snapsurveys.com/wh/s.asp?k=151499191810&amp;application=matex-hcp-app&amp;version=0.1.1.31&amp;ref=yH562KPKDYmDS2-7b9akDbyZdOwGJISZmXdBLcEAmis">feedback</a> will help us to improve it.</span>
      </p>
  </div>
  <div class="grid-row">
    <div class="column-full">
      <a href="javascript:history.go(-1)" class="link-back">Back</a>
      <span style="float:right; font-size:16px; margin-top: 30px;">
        <span style="margin-right:10px;">Alice Aardvark (AAAA1111)</span>   <a href="/common-pages/start-v6">Sign out</a>   <span style="margin: 0px 10px;">|</span> <a href="/common-pages/help" target="_blank" rel="noopener noreferrer">Help</a> 
      </span> 
    </div>
  </div>
  <div class="grid-row">
    <div class="column-two-thirds">
      <div class="form">
        <form id="appform" role="form" method="post">
          <fieldset>
            <h1 class="heading-large">
              <span class="heading-secondary">Apply for a maternity exemption certificate</span>
                Check your answers
            </h1>

            <!-- only add a heading for a list if there is more than one list -->

            <!-- use additional modifier class to change column widths for multiple groups of questions and answers: -->
            <!--   * `cya-questions-short` for short questions -->
            <!--   * `cya-questions-long` for long questions -->
            <!--   * none for single group of q&a -->
            
            <dl class="govuk-check-your-answers cya-questions-long">
                <div>
                    <dt class="cya-question">
                      Mother's name
                    </dt>
                  <dd class="cya-answer">
                    Sarah Phillips
                  </dd>
                    <dd class="cya-change">
                      <a class="link-right" href="/common-pages/app-pages/mother-apply#first-name">
                          Change<span class="visually-hidden">Mother's name</span>
                      </a>
                    </dd>
                </div>
                <div>
                    <dt class="cya-question">
                      Mother's email address
                    </dt>
                  <dd class="cya-answer">
                      yourname@example.com
                    </dd>
                    <dd class="cya-change">
                      <a class="link-right" href="/common-pages/app-pages/mother-email-address#Telephone">
                          Change<span class="visually-hidden"> Email address</span>
                      </a>
                    </dd>
                </div>
           
                <div>
                    <dt class="cya-question">
                      Mother's date of birth
                    </dt>
                  <dd class="cya-answer">
                      10 October 1980
                    </dd>
                    <dd class="cya-change">
                      <a class="link-right" href="/common-pages/app-pages/mother-apply#Telephone">
                          Change<span class="visually-hidden">Mother's dob</span>
                      </a>
                    </dd>
                </div>
                <div>
                    <dt class="cya-question cya-questions-long">
                      Mother's NHS number
                    </dt>
                    <dd class="cya-answer">
                      1111111111
                    </dd>
                    <dd class="cya-change">
                      <a class="link-right" href="/common-pages/app-pages/mother-apply#care">
                        Change<span class="visually-hidden"> NHS number</span>
                      </a>
                    </dd>
                </div>
                <div>
                    <dt class="cya-question cya-questions-long">
                      Mother's postcode
                    </dt>
                    <dd class="cya-answer">
                      AA1 1AA
                    </dd>
                    <dd class="cya-change">
                      <a class="link-right" href="/common-pages/app-pages/mother-apply#postcode">
                        Change<span class="visually-hidden"> mother's postcode</span>
                      </a>
                    </dd>
                </div>
                <div>
                    <dt class="cya-question cya-questions-long">
                      Due date or baby's birth date
                    </dt>
                    <dd class="cya-answer">
                      10 October 2018
                    </dd>
                    <dd class="cya-change">
                      <a class="link-right" href="/common-pages/app-pages/mother-apply#baby-date">
                        Change<span class="visually-hidden"> due date or baby's birth date</span>
                      </a>
                    </dd>
                </div>
                <div>
                    <dt class="cya-question cya-questions-long">
                      Get details by email
                    </dt>
                    <dd class="cya-answer">
                      Yes
                    </dd>
                    <dd class="cya-change">
                      <a class="link-right" href="/common-pages/app-pages/mother-email#radio-inline-1">
                        Change<span class="visually-hidden"> get details by email</span>
                      </a>
                    </dd>
                </div>
              </dl> 
              <h2 class="heading-large">Declaration</h2>
              <div class="notice" style="position:relative">
                <i class="icon icon-important" style="margin-top:-215px;">
                  <span class="visuallyhidden">Warning</span>
                </i>
                <span class="declaration" style="position: relative; display:block; padding-left:65px;">
                  I confirm that this information is correct and true in accordance with the applicant’s records on 24 October 2018.
                  <br><br>    
                  <p>I confirm that the applicant:</p>
                  <ul class="list list-bullet">
                    <li>has given her permission for this application to be submitted on her behalf</li>
                    <li>knows the information submitted will be used by the NHS Business Services Authority and shared other organisations working on their behalf where necessary</li>
                    <li>understands her data will not be transferred outside of the European Economic Area and will be deleted within 24 months of the expiry date of the exemption</li>
                    <li>is aware that this is a pilot scheme she is taking part in</li>
                    <li>consents to her data being used to evaluate the digital pilot scheme</li>
                  </ul>
                  <p>I understand that when I press submit, I am submitting an application on behalf of the named person.</p>  
                </span>
              </div>  
              <br>
              <div class="form-group">
                <a class="button" href="/common-pages/app-pages/mother-done" id="submit">Submit</a>
              </div>  
          </fieldset>
        </form> 
      </div>
    </div>
  </div>
  <style>
    .link-right {
      margin-right:15px;
    }
  </style>
</main>

{% endblock %}


