{% extends "layout_bsa.html" %}

{% block page_title %}
  Help paying for NHS Costs prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
	<div class="phase-banner">
      <p>
        <strong class="phase-tag">BETA</strong>This is a new service <span>- your <a target="_blank" href="https://www.snapsurveys.com/wh/s.asp?k=151499191810&amp;application=matex-hcp-app&amp;version=0.1.1.31&amp;ref=yH562KPKDYmDS2-7b9akDbyZdOwGJISZmXdBLcEAmis">feedback</a> will help us to improve it.</span>
      </p>
  	</div>
  	<div class="grid-row">
    	<div class="column-full">
      		<a href="javascript:history.go(-1)" class="link-back">Back</a>
      		<span style="float:right; font-size:16px; margin-top: 30px;">
       		<span style="margin-right:10px;">Alice Aardvark (AAAA1111)</span>   <a href="/common-pages/start-v6">Sign out</a>   <span style="margin: 0px 10px;">|</span> <a href="/common-pages/help" target="_blank" rel="noopener noreferrer">Help</a> 
      		</span> 
    	</div>
  	</div>
  	<div class="grid-row">
  		<div class="column-two-thirds">
  			<div class="form">
		  		<h1 class="heading-large">
					<span class="heading-secondary">Apply for a maternity exemption certificate</span>
					Mother's email address
			    </h1>
			    <form id="appform" role="form" method="post">
					<fieldset>
				    	<legend class="visually-hidden">Is the mother present?</legend>
				    		<div class="form-group">
					   			<label class="form-label-bold" for="Telephone" id="first-name-label">Email address</label>
					   			<p>
					   				An incorrect email address will prevent the mother from receiving her exemption.
					   			</p>
					   			<input id="Telephone" class="form-control" type="tel" max-length="30" autocomplete="off" aria-required="false">
					   		</div>
					</fieldset>
					<a class="button" href="/common-pages/app-pages/cya-mother" id="next">Continue</a>
        		</form>
			</div>		
 		</div>
	</div>
</main>

{% endblock %}


