{% extends "layout_bsa.html" %}
 
{% block page_title %}
  NHSBSA Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

    <div class="phase-banner">
      <p>
      <strong class="phase-tag">BETA</strong>
      This is a new service 
      <span> - your <a target="" href="#">feedback</a> will help us to improve it.</span>
      </p> 
    </div>
    <div class="grid-row">
      <div class="column-full">
        <a href="javascript:history.go(-1)" class="link-back">Back</a>
          <span style="float:right; font-size:16px; margin-top: 30px;">
            <a href="https://matex-new.herokuapp.com/common-pages/help" target="_blank" rel="noopener noreferrer">Help</a>
          </span> 
      </div>
    </div>
    <div class="grid-row">
      <div class="column-two-thirds">
        <h1 class="heading-large" id="error-heading">
          Password test
      </h1>
      <SCRIPT>
        function passWord() {
        var testV = 1;
        var pass1 = prompt('Please Enter Your Password',' ');
        while (testV < 3) {
        if (!pass1)
        history.go(-1);
        if (pass1.toLowerCase() == "test123") {
        window.location.replace('password-achieved.html');
        break;
        }
        testV+=1;
        var pass1 =
        prompt('Access Denied - Password Incorrect, Please Try Again.','Password');
        }
        if (pass1.toLowerCase()!="password" & testV ==3)
        history.go(-1);
        return " ";
        }
        </SCRIPT>
        
        <FORM>
          <input class="button" type="button" value="Enter research session" onClick="passWord()">
        </FORM>
    

      </div>
    </div>

  </main>

{% endblock %}
