{% extends "layout_bsa.html" %}
 
{% block page_title %}
  NHSBSA Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

    <div class="phase-banner">
      <p>
      <strong class="phase-tag">BETA</strong>
      This is a new service 
      <span> - your <a target="" href="#">feedback</a> will help us to improve it.</span>
      </p> 
    </div>
    <div class="grid-row">
      <div class="column-full">
        <a href="javascript:history.go(-1)" class="link-back">Back</a>
          <span style="float:right; font-size:16px; margin-top: 30px;">
            <a href="https://matex-new.herokuapp.com/common-pages/help" target="_blank" rel="noopener noreferrer">Help</a>
          </span> 
      </div>
    </div>
    <div class="grid-row">
      <div class="column-two-thirds">
        <h1 class="heading-large" id="error-heading">
          Service unavailable
      </h1>
      
      <p>You can't use this service just now. The problem will be fixed as soon as possible.</p>
      
      <p>Go to the <a id="search-again" th:href="@{/}">start page</a> to try again.</p>

      </div>
    </div>

  </main>

{% endblock %}
