{% extends "layout_bsa.html" %}

{% block page_title %}
  Help paying for NHS Costs prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-full">
      <h1 class="heading-xlarge">
        <span class="heading-secondary">Apply for a maternity exemption</span>
        Prototype
      </h1>
      <h2 class="heading-medium">New pages</h2>
      <table>
        <thead>
          <tr>
            <th>Last updated</th>
            <th>Link</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <!-- <tr>
            <td>27/07/2018</td>
            <td><a href="common-pages/start-page">Start page v1</a></td>
            <td>Updated start page including links to auth</td>
          </tr> -->
         <!--  <tr>
            <td>03/07/2018</td>
            <td><a href="common-pages/start-v3">Start page v3</a></td>
            <td>Updated following UX discussion</td>
          </tr>-->
          <tr>
            <td>12/09/2018</td>
            <td><a href="common-pages/past-versions/v4/start-v4">Start page v4</a></td>
            <td>Updated to include register link</td>
          </tr> 
          <tr>
            <td>26/09/2018</td>
            <td><a href="common-pages/past-versions/v5/start-v5">Start page v5</a></td>
            <td>Update after meeting</td>
          </tr>
          <tr>
            <td>04/10/2018</td>
            <td><a href="common-pages/start-v6">Start page v6</a></td>
            <td>Update after show and tell</td>
          </tr>
          <tr>
            <td>11/01/2019</td>
            <td><a href="common-pages/start-v6">Simple login</a></td>
            <td>No registration option</td>
          </tr>
          <!--  <tr>
            <td>31/07/2018</td>
            <td><a href="common-pages/auth-start">Auth start page</a></td>
            <td>Start page for registering an account</td>
          </tr> -->
        </tbody>
      </table>
    </div>
  </div>
  <div class="grid-row">    
    <div class="column-one-third">
      <h2 class="heading-medium">Journeys</h2> 
        <table>
          <thead>
            <tr>
              <th>Link</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><a href="common-pages/start-v6">New user</a></td>
            </tr>
            <tr>
              <td><a href="common-pages/start-nhs-registered">Registered user - NHS Mail</a></td>
            </tr>
            <tr>
              <td><a href="common-pages/start-alt-registered">Registered user - Alt Mail</a></td>
            </tr>
          </tbody>
        </table>
      </div>  
    </div>
</main>

{% endblock %}


